<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Did')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-did" data-rule="required" class="form-control" name="row[did]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State1_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state1_set" class="form-control" name="row[state1_set]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State2_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state2_set" class="form-control" name="row[state2_set]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State3_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state3_set" class="form-control" name="row[state3_set]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State4_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state4_set" class="form-control" name="row[state4_set]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State5_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state5_set" class="form-control" name="row[state5_set]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeon1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeon1" class="form-control" name="row[timeon1]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeoff1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeoff1" class="form-control" name="row[timeoff1]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeon2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeon2" class="form-control" name="row[timeon2]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeoff2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeoff2" class="form-control" name="row[timeoff2]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeon3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeon3" class="form-control" name="row[timeon3]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeoff3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeoff3" class="form-control" name="row[timeoff3]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeon4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeon4" class="form-control" name="row[timeon4]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeoff4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeoff4" class="form-control" name="row[timeoff4]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeon5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeon5" class="form-control" name="row[timeon5]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timeoff5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-timeoff5" class="form-control" name="row[timeoff5]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Count1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-count1" class="form-control" name="row[count1]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Count2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-count2" class="form-control" name="row[count2]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Count3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-count3" class="form-control" name="row[count3]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff1')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff1" class="form-control selectpicker" name="row[onoff1]">
                {foreach name="onoff1List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff2')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff2" class="form-control selectpicker" name="row[onoff2]">
                {foreach name="onoff2List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff3')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff3" class="form-control selectpicker" name="row[onoff3]">
                {foreach name="onoff3List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff4')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff4" class="form-control selectpicker" name="row[onoff4]">
                {foreach name="onoff4List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff5')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff5" class="form-control selectpicker" name="row[onoff5]">
                {foreach name="onoff5List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff6')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff6" class="form-control selectpicker" name="row[onoff6]">
                {foreach name="onoff6List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff7')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff7" class="form-control selectpicker" name="row[onoff7]">
                {foreach name="onoff7List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff8')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff8" class="form-control selectpicker" name="row[onoff8]">
                {foreach name="onoff8List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff9')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff9" class="form-control selectpicker" name="row[onoff9]">
                {foreach name="onoff9List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff10')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff10" class="form-control selectpicker" name="row[onoff10]">
                {foreach name="onoff10List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_at" class="form-control" name="row[update_at]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
