<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Did')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-did" data-rule="required" class="form-control" name="row[did]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff1')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff1" data-rule="required" class="form-control selectpicker" name="row[onoff1]">
                {foreach name="onoff1List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff2')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff2" data-rule="required" class="form-control selectpicker" name="row[onoff2]">
                {foreach name="onoff2List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff3')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff3" class="form-control selectpicker" name="row[onoff3]">
                {foreach name="onoff3List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff4')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff4" class="form-control selectpicker" name="row[onoff4]">
                {foreach name="onoff4List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff5')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff5" class="form-control selectpicker" name="row[onoff5]">
                {foreach name="onoff5List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff6')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff6" class="form-control selectpicker" name="row[onoff6]">
                {foreach name="onoff6List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff7')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff7" class="form-control selectpicker" name="row[onoff7]">
                {foreach name="onoff7List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff8')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff8" class="form-control selectpicker" name="row[onoff8]">
                {foreach name="onoff8List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff9')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff9" class="form-control selectpicker" name="row[onoff9]">
                {foreach name="onoff9List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff10')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff10" class="form-control selectpicker" name="row[onoff10]">
                {foreach name="onoff10List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff11')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff11" class="form-control selectpicker" name="row[onoff11]">
                {foreach name="onoff11List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff12')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff12" class="form-control selectpicker" name="row[onoff12]">
                {foreach name="onoff12List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff13')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff13" class="form-control selectpicker" name="row[onoff13]">
                {foreach name="onoff13List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff14')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff14" class="form-control selectpicker" name="row[onoff14]">
                {foreach name="onoff14List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff15')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff15" class="form-control selectpicker" name="row[onoff15]">
                {foreach name="onoff15List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Onoff16')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-onoff16" class="form-control selectpicker" name="row[onoff16]">
                {foreach name="onoff16List" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
